.project-wrapper {
 margin-top: 150px;
 margin-bottom: 100px;
}

.project-title h1 {
    margin-bottom: 50px;
    text-align: center;
    font-size: 48px;
    font-weight: 800;
}

.project-title span {
    display: inline-block;
}

.bottom-line-project {
    position: relative;
    width: fit-content;
    z-index: 1;

    &::after {
        content: '';
        position: absolute;
        bottom: 10px;
        left: -5px;
        right: -9px;
        height: 11px;
        background-color: var(--yellow);
        z-index: -1;
    }

}

.project-badges {
    display: flex;
    justify-content: center;
}

.project-badges {
    margin-right: 12px;
    margin-bottom: 70px;
    padding: 8px 11px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #fff;

    &:last-child {
        margin-right: 0;
    }

    .item-html {
       background-color: #ff861a;
    }

    .item-css {
        background-color: #039be5;
    }

    .item-bootstrap {
        background-color: #a062c7;
    }

    .item-js {
        background-color: #ffd200;
        color: #000;
    }

    .item-jquery {
        background-color: #044d85;
    }

    .item-php {
        background-color: #777bb4;
    }

}

.project-content {
    display: flex;
}

.project-links {
    font-size: 18px;
}

.project-subtitle {
    position: relative;
    margin-bottom: 20px;
    width: fit-content;
    z-index: 1;
    font-size: 26px;
    font-weight: 800;

    &::after {
        content: '';
        position: absolute;
        bottom: 4px;
        left: -5px;
        right: -9px;
        height: 8px;;
        background-color: var(--yellow);
        z-index: -1;
    }

}

.project-text {
    margin-right: 30px;
    max-width: 458px;
    font-size: 16px;
}

.project-links-block {
    position: relative;
    margin-left: 40px;
}

.project-links-item {
    
    &::before {
        content: '';
        display: block;
        position: absolute;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

}

.project-about {
    margin-bottom: 60px;
}

.project-about > p {
    letter-spacing: 0.19px;
    line-height: 1.5;
}

.icon-demo {
    margin-bottom: 25px;
    
    &::before {
        top: 0px;
        left: -43px;
        width: 28px;
        height: 28px;
        background-image: url(../img/project-card/browser-outline.svg);
    }

}

.icon-github {
    margin-bottom: 45px;

    &::before {
        top: 51px;
        left: -43px;
        width: 28px;
        height: 28px;
        background-image: url(../img/project-card/github.svg);
    }

}

.project-links-item > a {
    width: 100%;
    color: #4298e8;
    border-bottom: 1px solid #4298e8;

}

.project-details > ul > li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    letter-spacing: 0.19px;
    line-height: 1.5;
}

.project-details > ul > li > span {
    width: 36%;
    margin-right: 20px;
    font-weight: 900;
}

.project-details > ul > li > p {
    width: 64%;
}

.project-image {
    max-width: 652px;
}

.project-image > img {
    box-shadow: 19.799px 19.799px 100px 0px rgb(196, 219, 233);
}

.project-nav {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 200;
    letter-spacing: 0.19px;
    line-height: 1.5;
    color: var(--white);
}

.project-button {
    margin-right: 35px;
    padding: 30px 175px;
    background-color: #333333;

    &:last-child {
        margin-right: 0;
    }

}