RewriteEngine On
RewriteCond %{HTTP:X-Forwarded-Proto} !=https
RewriteRule .* https://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]

ErrorDocument 404 /error-404.html

RewriteCond %{HTTP_HOST} ^www.kozachuk-dev\.ru$ [NC]
RewriteRule ^(.*)$ https://kozachuk-dev.ru/$1 [R=301,L]

RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.html\ HTTP/ 
RewriteRule ^index\.html$ https://kozachuk-dev.ru/ [R=301,L]