.contacts {
    background-image: url(../img/contacts/contacts-bg.jpg);
    margin-left: auto;
    margin-right: auto;
    padding: 150px 0;
    max-width: 1600px;
    background-size: auto;
    background-position: center;
    background-repeat: repeat-y;
}

.contacts__header {
    margin-bottom: 60px;
}

.contacts-wrapper {
    display: flex;
    justify-content: space-between;
}

.contacts-content {
    margin-top: 20px;
    font-size: 20px;
}

.contacts-content-text {
    margin-bottom: 35px;    
    font-weight: 400;
    line-height: 1.6;
}

.contacts-content-connect {
    display: flex;
    justify-content: space-between;
    width: 470px;
    margin-bottom: 40px ;
}

.contacts-item-type {
    margin-bottom: 20px;
    font-weight: 700;

    &:last-child {
        margin-bottom: 0;
    }

}

.contacts-item-value {
    margin-bottom: 20px;
    font-weight: 500;
    color: #96969d;

    &:last-child {
        margin-bottom: 0;
    }

    a {
        color: #96969d;

        &:hover {
            color: #039be5;
        }
    }

} 

/* Contact form */
.contacts-form {
    width: 511px;
    background-color: #fff;
    box-shadow: 0px 28px 100px 0px rgba(194, 219, 235, 1);
}

.formgroup {
    position: relative;
    margin-top: 30px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 30px;
    
}

.placeholder-email {
    position: absolute;
    top: 45px;
}

.placeholder-theme {
    position: absolute;
    top: 145px;
}

.placeholder-text {
    position: absolute;
    bottom: 120px;
}

.input-wrapper {
    padding-top: 50px;
    height: 100px;
}

.input-wrapper--l {
    padding-top: 135px;
    height: 175px;
}

.input {
    width: 390px;
    border: 0px;
    border-bottom: 1px solid #c0c0c0;
    font-size: 20px;
    font-weight: 700;

    :focus.placeholder-email {
            position: absolute;
            top: 20px;
    }

}

.button-form {
    margin-left: 60px;
    margin-bottom: 40px;
    font-family: var(--fr);
}