footer {
    background-color: #333333;
    padding-top: 32px;
    padding-bottom: 40px;

    @media (min-width: 1200px) {
        padding-top: 23px;
    }

}

.footer-copyright {
    margin-bottom: 13px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}

.footer-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    color: var(--footer);
}

.footer-description a {
    color: #b0b0b0;
    border-bottom: 1px solid var(--footer);
    cursor: pointer;

    &:hover, :active {
        color: #fff;
        border-bottom: 1px solid #fff;
    }
}

.footer-portfolio {
    background-color: #f4f8f9;
    padding-bottom: 0;
}