footer {
    background-color: #333333;
    padding-top: 30px;
    padding-bottom: 40px;
}

.footer-copyright {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}

.footer-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    color: #777777;
}

.footer-description a {
    color: #777777;
    border-bottom: 1px solid #777777;
    cursor: pointer;

    &:hover, :active {
        color: #fff;
        border-bottom: 1px solid #fff;
    }
}