.header {
    margin-left: auto;
    margin-right: auto;
    max-width: 1600px;
    background-image: url(../img/line-bg.jpg);
    background-size: auto;
    background-position: center;
    background-repeat: repeat;
    overflow: hidden;
}

.header-nav {
    display: flex;
    padding-top: 70px;
    margin-bottom: 147px;
    max-width: 1400px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 1px;
    font-size: 42px;
    font-weight: 900;
    color: #000;
    z-index: 2;

    &:hover {
        transition: 1.5s;
        transform: rotate(360deg);
    }

}

.header-menu {
    z-index: 1;
}

.menu-item {
    margin-right: 73px;
    color: #000;
    font-size: 20px;
    font-weight: 700;

    &:last-child {
        margin-right: 1px;
    }
}

.animate-border {
    position: relative;
    width: fit-content;

    &:after {
        content: '';
        position: absolute;
        bottom: 4px;
        height: 5px;
        left: -5px;
        background-color: var(--yellow);
        width: 0%;
        transition: .8s;
        z-index: -1;
    }

    &:hover:after {
        width: 110%;
    }

    &:visited {
        color: #000;
    }

    &:focus {
        border: 3px dotted var(--red);
    }

}  

.header-social {
    margin-right: 12px;
    font-size: 31px;
    
}

.header-social__item {
    margin-right: 10px;
    color: #000;
    
    &:last-child {
        margin-right: 0;
    }
}

.fa-linkedin-in {
    
    &:hover {
        color: var(--linkedin);
        transition: .5s;
    }
    &:active {
        color: var(--linkedin);
    }
}

.fa-github {

    &:hover {
        color: var(--github-h);
        transition: .5s;
    }

    &:active {
        color: var(--github-h);
    }
}

.fa-vk {
    padding-top: 10px;

    &:hover {
        color: var(--vk-h);
        transition: .5s;
    }

    &:active {
        color: var(--vk-h);
    }
}

.header-content__description {
    margin-bottom: 34px;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5;
}

.button-main {
    display: inline-block;
    margin-right: 7px;
    padding-left: 40px;
    padding-right: 40px;
    height: 60px;
    line-height: 60px;
    border-radius: 50px;
    font-size: 22px;
    font-weight: 700;
    color: #000;
    background-color: var(--yellow);

    &:hover {
        background-color: var(--btn-yl-h);
        transition: .5s;
    }

    &:active {
        background-color: var(--btn-yl-a);
    }
}

.button-contacts {
    display: inline-block;
    height: 60px;
    padding-left: 35px;
    padding-right: 39px;
    border-radius: 50px;
    font-size: 22px;
    font-weight: 700;
    line-height: 54px;
    color: var(--btnfont);
    border: 4px solid var(--btnfont);

    &:hover {
        color: var(--btn-gr-h);
        border-color: var(--btn-gr-h);
        transition: .5s;
    }

    &:active {
        color: var(--btn-gr-a);
        border-color: var(--btn-gr-a);
    }
}

.header-content {
    display: flex;
    position: relative;
    z-index: 2;
}

.header-content__item {
    margin-right: 187px;
}

.header-content__image img {
    margin-top: 26px;
    background-color: #d0dee3;
}

.header-content__image {
    position: relative;
    z-index: 1;

    &::after {
        content: "";
        display: block;
        position: absolute;
        background-image: linear-gradient(90deg, rgba(244, 248, 249, 0) 0%, rgb(244, 248, 249) 100%);
        width: 100%;
        height: 100%;
        z-index: -1;
        top: 30%;
        left: 30px;
        opacity: 0.5;
    }
}

.header-bg__image {
    display: block;
    margin: 0 auto;
    margin-top: -130px;
    width: 100%;
    z-index: 1;
}

.header-content-skills {
    display: flex;
    margin-bottom: 200px;
}

.header-skills-item {
    margin-right: 170px;
}

.header-social-contacts {
    font-size: 30px;
    color: var(--text);
}

.header-skills-item h2 {
    margin-bottom: 35px;
    font-size: 40px;
}

.header-skills__list {
    position: relative;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 35px;
}

.header-skills__list li {
    margin-bottom: 15px;

    &:last-child {
        margin-bottom: 0;
    }
}

.header-skills__list > li::before {
    content: "—";
    display: block;
    position: relative;
    top: 0;
    height: 0;
}

.header-skills__list > li >p {
    padding-left: 30px;
}

.header-content-contacts h2 {
    margin-bottom: 30px;
    font-size: 40px;
}

.skills-social-contacts {
    font-size: 45px;
    margin-bottom: 20px;
}

.item {
    margin-right: 9px;
    
    &:last-child {
        margin-right: 0;
    }

}

.skills-social__github {
    color: var(--github);

    &:hover {
        color: var(--github-h);
        transition: .5s;
    }

}

.skills-social__telegram {
    color: var(--telegram);

    &:hover {
        color: var(--telegram-h);
        transition: .5s;
    }

}

.skills-social__vk {
    width: 44px;
    height: 44px;
    font-size: 38px;
    color: var(--white);
    background-color: var(--vk-bg);
    border-radius: 50%;

    &:hover {
        color: var(--white);
        background-color: var(--vk-h);
        transition: .5s;
    }

}

.skills-social__facebook {
    color: var(--facebook);

    &:hover {
        color: var(--facebook-h);
        transition: .5s;
    }

}

.header-contacts-mail {
    font-size: 24px;
    font-weight: 400;
    color: #000;
    border-bottom: 1px solid var(--mail);

    &:hover {
        color: var(--mail-h);
        border-color: var(--mail-h);
        transition: .5s;
    }

    &:active {
        color: var(--mail-a);
        border-color: var(--mail-a);
    }
}